.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 10px;
    color: ivory;
}

.dialogsItems .active{
    color: ivory;
}

.dialog {
    color: ivory;

}

.messages {
    padding: 10px;
    color: ivory;
}

.message {

}